useDynLib(birte, .registration=TRUE)
importFrom(limma, lmFit, makeContrasts, contrasts.fit, eBayes, topTable)
importFrom(MASS, fitdistr, mvrnorm)
import(ridge)
import(Rcpp)
import(RcppArmadillo)
import(Biobase)
import(nem)
export("birteLimma", "birteRun", "getPotentialSwaps", 
       "plotConvergence", "limmaAnalysis", "simulateData", "birtePredict", "birteFitRidge",
       "simplify", "proposeInteractions", "suggestThreshold",
       "estimateNetwork")


