useDynLib(birte, .registration=TRUE)
importFrom(limma, lmFit, makeContrasts, contrasts.fit, eBayes, topTable)
importFrom(MASS, fitdistr, mvrnorm)
import(glmnet)
import(Rcpp)
import(RcppArmadillo)
import(Biobase)
import(nem)
importFrom("graphics", "abline", "hist", "lines", "plot")
importFrom("stats", "coef", "cutree", "dbeta", "dist", "hclust", "lm",
           "median", "model.matrix", "optim", "pbeta", "predict",
           "qbeta", "rbinom", "runif", "sd", "toeplitz")
importFrom("utils", "head")
export("birteLimma", "birteRun", "getPotentialSwaps", 
       "plotConvergence", "limmaAnalysis", "simulateData", "birtePredict", "birteFitRidge",
       "simplify", "proposeInteractions", "suggestThreshold",
       "estimateNetwork")
